.info{
    width: 1000px;
    height: 350px;
    background-image: url(images/dream.jpg);
    background-size: cover;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 5px  #6e5e50;

}

.shell{
    display: flex;
    justify-content: center;
    gap:8px;
}

.tag{
    width: 170px;
    height: 50px;
    background-color: #6e5e50;
    text-align: center;
    line-height: 50px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow:5px 5px  #c46247;

}

.tag a{
    color: rgb(71, 55, 24);
}

.tag:hover{
    background-color: #d15a39;
}

.tag li:hover{
    background-color: #ffb29d;
}

.tag ul li{
    background-color: #e07a5f;
    height: 0;
    transform: translateY(-5050px);
    transition: 0.2s;
    opacity: 0;
}

.tag:hover li{
    opacity: 1;
    height: 50px;
    transform: translate(0);
}


